* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  padding: 10px 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  position: relative;
  transition: all 0.5s;
}

nav ul li {
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s;
}

nav ul li a {
  color: #5b5b98;
  transition: all 0.5s;
  font-family: Overpass;
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #0000ff;
}

nav ul li ul li a {
  width: 150px;
  font-size: 15px;
  background-color: #fff;
  color: #5b5b98;
  font-family: Overpass;
  transition: all 0.5s;
}

nav ul li ul li a:hover {
  color: blue;
}

nav ul li ul {
  display: none;
  position: absolute;
  transition: all 0.5s;
  background-color: #fff;
  margin-top: 5px;
  padding: 0;
  z-index: 10;
}

nav ul li ul li {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 15px 20px;
  transition: all 0.5s;
}

nav ul li:hover ul {
  display: block;
}

.navbar-togglar {
  display: none;
  border: 0;
}
.navbar-togglar i {
  font-size: 20px;
}

.main-banner {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: #f5f5fc;
  padding-top: 190px;
}

.main-banner-content {
  text-align: center;
}
.main-banner-content p {
  color: #0000ff;
  font-family: Overpass;
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
}
.main-banner-content h1 {
  font-size: 60px;
  font-family: Overpass;
  line-height: 1.2;
  font-weight: 700;
  padding: 0 40px;
}
.main-banner-content .btn-box {
  margin-top: 25px;
}
.main-banner-content .btn-box .banner-btn {
  color: #fff;
  font-size: 16px;
  font-family: Overpass;
  font-weight: 600;
  text-decoration: none;
  background-color: #0000ff;
  border-radius: 5px;
  padding: 17px 35px;
  margin-bottom: 72px;
  display: inline-block;
  transition: all 0.5s;
}

.btn-box .banner-btn:hover {
  background-color: #ffa143;
}

.main-banner-image img {
  width: 100%;
}

.featured-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.featured-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.featured-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}

.featured {
  margin-bottom: 70px;
}

.featured-services {
  text-align: center;
  padding: 5px 0 15px;
}
.featured-services .card-body {
  background-color: #f9f9fc;
  transition: all 0.5s;
  transform: translateY(0);
}
.featured-services .card-body .chart-line {
  font-size: 55px;
  color: #fa7070;
  transition: all 0.5s;
  transform: translate(0);
}
.featured-services .card-body .envelope-open {
  font-size: 55px;
  color: #facd60;
  transition: all 0.5s;
  transform: translate(0);
}
.featured-services .card-body .search-plus {
  font-size: 55px;
  color: #1ac0c6;
  transition: all 0.5s;
  transform: translate(0);
}
.featured-services .card-body .card-title {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
}
.featured-services .card-body .card-text {
  color: #737b9a;
  font-family: Overpass;
  font-size: 16px;
  margin-top: 14px;
  line-height: 1.8;
}
.featured-services .card-body .btn {
  color: #0000ff;
  font-family: Overpass;
  font-size: 15px;
  border: 1px solid #0000ff;
  background-color: transparent;
  margin-top: 20px;
  padding: 17px 35px 13px;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s;
}

.featured-services:hover .btn {
  background-color: #0000ff;
  color: #fff;
}

.featured-services:hover .card-body {
  transform: translateY(-10px);
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.featured-services:hover .chart-line {
  transform: translate(-10px);
}

.explorers {
  margin-bottom: 70px;
}

.explorers-detail span {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.explorers-detail h1 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
  margin-bottom: 10px;
}
.explorers-detail p {
  color: #737b9a;
  font-size: 16px;
  font-family: Overpass;
  line-height: 1.8;
}
.explorers-detail ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.explorers-detail ul li {
  width: 46%;
  list-style: none;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  background-color: transparent;
  display: block;
  border-radius: 5px;
  padding: 16px;
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}
.explorers-detail ul li:hover {
  color: #fff;
}
.explorers-detail ul li::after {
  content: "";
  height: 50px;
  width: 0;
  background-color: #0000ff;
  border-radius: 10px;
  position: absolute;
  top: 6px;
  left: 0;
  z-index: -10;
  transition: all 0.5s;
  opacity: 0;
  overflow: hidden;
}
.explorers-detail ul li:hover::after {
  width: 100%;
  opacity: 1;
}
.explorers-detail ul li i {
  font-size: 24px;
  color: #0000ff;
  margin-right: 10px;
  transition: all 0.5s;
}
.explorers-detail ul li:hover i {
  color: #fa7070;
}

.our-tools-section {
  background-color: #f4f7fc;
}
.our-tools-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.our-tools-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.our-tools-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}

.our-tools-section h2 {
  padding: 0 25%;
}

.tools-section {
  margin-bottom: 70px;
}

.awesome-service {
  transition: all 0.5s;
  position: relative;
}
.awesome-service .card-body {
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  background-color: transparent;
  display: block;
  padding: 25px 30px;
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
.awesome-service .card-body:hover {
  color: #fff;
}
.awesome-service .card-body::after {
  content: "";
  height: 100%;
  width: 0;
  background-color: #0000ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transition: all 0.5s;
  opacity: 0;
  overflow: hidden;
}
.awesome-service .card-body:hover::after {
  width: 100%;
  opacity: 1;
}
.awesome-service .mail-bulk {
  width: 80px;
  height: 80px;
  text-align: center;
  color: #fa7070;
  line-height: 75px;
  background-color: #fa70701a;
  border-radius: 50%;
  font-size: 35px;
  margin-bottom: 25px;
  transition: all 0.7s;
}
.awesome-service .searchengin {
  width: 80px;
  height: 80px;
  text-align: center;
  color: #00aeff;
  line-height: 75px;
  background-color: rgba(0, 174, 255, 0.2);
  border-radius: 50%;
  font-size: 35px;
  margin-bottom: 25px;
  transition: all 0.7s;
}
.awesome-service .chart-line {
  width: 80px;
  height: 80px;
  text-align: center;
  color: #f78acb;
  line-height: 75px;
  background-color: #f78acb33;
  border-radius: 50%;
  font-size: 35px;
  margin-bottom: 25px;
  transition: all 0.7s;
}
.awesome-service .search-plus {
  width: 80px;
  height: 80px;
  text-align: center;
  color: #44ce6f;
  line-height: 75px;
  background-color: rgba(68, 206, 111, 0.2);
  border-radius: 50%;
  font-size: 35px;
  margin-bottom: 25px;
  transition: all 0.7s;
}
.awesome-service .search-minus {
  width: 80px;
  height: 80px;
  text-align: center;
  color: #c679e3;
  line-height: 75px;
  background-color: rgba(198, 121, 227, 0.2);
  border-radius: 50%;
  font-size: 35px;
  margin-bottom: 25px;
  transition: all 0.7s;
}
.awesome-service .bullhorn {
  width: 80px;
  height: 80px;
  text-align: center;
  color: #eb6b3d;
  line-height: 75px;
  background-color: rgba(235, 107, 61, 0.2);
  border-radius: 50%;
  font-size: 35px;
  margin-bottom: 25px;
  transition: all 0.7s;
}
.awesome-service .card-title {
  margin-bottom: 0;
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  transition: all 0.5s;
  z-index: 1;
}
.awesome-service .card-text {
  color: #737b9a;
  font-size: 16px;
  font-family: Overpass;
  line-height: 1.8;
  margin-top: 14px;
  transition: all 0.5s;
  z-index: 1;
}
.awesome-service .read-more-btn {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: Overpass;
  opacity: 0;
  position: relative;
  transition: all 1s;
}
.awesome-service .read-more-btn::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #fff;
  bottom: -2px;
  left: 0;
  transition: all 0.5s;
}
.awesome-service .read-more-btn i {
  font-size: 16px;
}

.awesome-service:hover {
  transform: translateY(-15px);
}

.awesome-service:hover .mail-bulk {
  transform: rotate(360deg);
  background-color: #fff;
}

.awesome-service:hover .searchengin {
  transform: rotate(360deg);
  background-color: #fff;
}

.awesome-service:hover .chart-line {
  transform: rotate(360deg);
  background-color: #fff;
}

.awesome-service:hover .search-plus {
  transform: rotate(360deg);
  background-color: #fff;
}

.awesome-service:hover .search-minus {
  transform: rotate(360deg);
  background-color: #fff;
}

.awesome-service:hover .bullhorn {
  transform: rotate(360deg);
  background-color: #fff;
}

.awesome-service:hover .card-title {
  color: #fff;
}

.awesome-service:hover .card-text {
  color: #fff;
}

.awesome-service:hover .read-more-btn {
  opacity: 1;
}

.read-more-btn:hover::after {
  width: 100%;
}

.awesome-motivation {
  margin-bottom: 70px;
}
.awesome-motivation .awesome-motivation-detail span {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.awesome-motivation .awesome-motivation-detail h1 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
  margin-bottom: 10px;
}
.awesome-motivation .awesome-motivation-detail p {
  color: #737b9a;
  font-family: Overpass;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
}
.awesome-motivation .awesome-motivation-detail h2 {
  font-size: 20px;
  font-family: Overpass;
  font-weight: 600;
}
.awesome-motivation .awesome-motivation-detail h2 i {
  font-size: 22px;
  color: #0000ff;
  margin-right: 10px;
}

.fact-area {
  background-color: #0000ff;
  padding: 7% 0;
}

.fact-area-detail {
  text-align: center;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  padding: 20px;
  transition: all 0.5s;
  margin-bottom: 20px;
  position: relative;
}
.fact-area-detail h3 .number {
  color: #fff;
  font-size: 50px;
  font-family: Overpass;
  font-weight: 700;
}
.fact-area-detail h3 .icon {
  color: #fff;
}
.fact-area-detail p {
  color: #fff;
  font-size: 17px;
  font-family: Overpass;
  font-weight: 600;
}

.back-font {
  color: #fff;
  font-size: 150px;
  font-family: Overpass;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  top: 55%;
  left: 42%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.fact-area-detail:hover {
  transform: translateY(-10px);
  border: 1px dashed #fff;
}

.work-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.work-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.work-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}
.work-section h2 {
  padding: 0 25%;
}

.work-box {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.work-box img {
  max-width: 400px;
  margin: 0 22px;
}
.work-box .work-content {
  width: 320px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  bottom: 72px;
  left: -66%;
  padding: 14px 10px;
  transition: all 0.4s;
  opacity: 0;
}
.work-box .work-content a {
  text-decoration: none;
  color: #000;
  transform: translate(30px);
  transition: all 0.4s;
  transition-delay: 0.2s;
}
.work-box .work-content .work-category {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  color: #737b9a;
  opacity: 1;
  transform: translate(30px);
  transition: all 0.4s;
  transition-delay: 0.2s;
}
.work-box .work-plus-icon {
  font-size: 85px;
  color: #0000ff;
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
  transform: scale(0);
  transition: all 0.5s;
}

.work-box:hover .work-content {
  left: 5%;
  opacity: 1;
}

.work-box:hover a {
  transform: translate(0);
}

.work-box:hover .work-category {
  transform: translate(0);
}

.work-box:hover .work-plus-icon {
  transform: scale(1);
}

.work-plus-icon:hover {
  color: #fa7070;
}

.work-nav i {
  font-size: 16px;
  color: #0000ff;
  margin: 5px;
  cursor: pointer;
}
.work-nav .circle {
  color: #d6d6d6;
  transition: all 0.6s;
}

.work-nav .circle:hover {
  color: #0000ff;
}

.expectation-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.expectation-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.expectation-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}
.expectation-section h2 {
  padding: 0 25%;
}

.customers-expectation1 {
  margin-bottom: 70px;
  width: auto;
  background-color: #0000ff;
  text-align: center;
  margin: 5px;
  padding: 30px 0;
  cursor: pointer;
}
.customers-expectation1 .trophy {
  font-size: 35px;
  color: #fff;
  margin-bottom: 10px;
}
.customers-expectation1 p {
  font-size: 17px;
  color: #fff;
  font-family: Overpass;
  font-weight: 700;
  margin: 0;
}

.customers-expectation {
  margin-bottom: 70px;
  width: auto;
  background-color: #fff;
  text-align: center;
  margin: 5px;
  padding: 30px 0;
  cursor: pointer;
  transition: all 0.5s;
}
.customers-expectation .pencil-ruler {
  font-size: 35px;
  color: #00aeff;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.customers-expectation .adv {
  font-size: 35px;
  color: #00aeff;
  margin-bottom: 10px;
  transition: all 0.5s;
  color: #c679e3;
}
.customers-expectation .chart-bar {
  font-size: 35px;
  color: #00aeff;
  margin-bottom: 10px;
  transition: all 0.5s;
  color: #eb6b3d;
}
.customers-expectation .database {
  font-size: 35px;
  color: #00aeff;
  margin-bottom: 10px;
  transition: all 0.5s;
  color: #0000ff;
}
.customers-expectation .search-dollar {
  font-size: 35px;
  color: #00aeff;
  margin-bottom: 10px;
  transition: all 0.5s;
  color: #f78acb;
}
.customers-expectation p {
  font-size: 17px;
  color: #000;
  font-family: Overpass;
  font-weight: 700;
  margin: 0;
  transition: all 0.5s;
}

.customers-expectation:hover {
  background-color: #0000ff;
}

.customers-expectation:hover p {
  color: #fff;
}

.customers-expectation:hover .pencil-ruler {
  color: #fff;
}

.customers-expectation:hover .adv {
  color: #fff;
}

.customers-expectation:hover .chart-bar {
  color: #fff;
}

.customers-expectation:hover .database {
  color: #fff;
}

.customers-expectation:hover .search-dollar {
  color: #fff;
}

.team-section {
  margin-bottom: 70px;
}
.team-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.team-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.team-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}
.team-section h2 {
  padding: 0 25%;
}

.team-member {
  transition: all 0.5s;
  overflow: hidden;
}
.team-member img {
  transition: all 0.5s;
  position: relative;
}
.team-member .team-soc {
  width: 120px;
  height: 40px;
  background-color: #fff;
  border-radius: 40px;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translateY(-50px);
  transition: all 0.5s;
  opacity: 0;
}
.team-member .team-soc i {
  color: #0000ff;
  font-size: 20px;
  margin: 0 10px;
  padding: 10px 0;
  transition: all 0.5s;
  cursor: pointer;
}
.team-member .card-body {
  text-align: center;
  padding: 25px;
  transition: all 0.5s;
  z-index: 10;
}
.team-member .card-body .team-member-name {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  transition: all 0.5s;
}
.team-member .card-body .team-member-detail {
  color: #0000ff;
  font-size: 16px;
  font-family: Overpass;
  font-weight: 500;
  margin-top: 10px;
  transition: all 0.5s;
}

.team-member:hover {
  transform: translateY(-10px);
}

.team-member:hover .team-soc {
  transform: translate(0);
  opacity: 1;
}

.team-soc i:hover {
  color: #eb6b3d;
}

.team-member:hover img {
  transform: scale(1.2);
}

.team-member:hover .card-body {
  background-color: #0000ff;
}

.team-member:hover .team-member-name {
  color: #fff;
}

.team-member:hover .team-member-detail {
  color: #fff;
}

.parallax {
  background-image: url("../image/asset61.jpeg");
  max-width: 100%;
  height: auto;
  padding: 250px 0 300px 0;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.parallax .para-poster {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}

.solution {
  display: flex;
  align-items: center;
}

.para-poster-detail span {
  color: #fa7070;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.para-poster-detail h1 {
  color: #fff;
  font-size: 50px;
  font-family: Overpass;
  font-weight: 700;
  margin-bottom: 12px;
}
.para-poster-detail p {
  color: #e8e3e3;
  font-size: 16px;
  font-family: Overpass;
  line-height: 1.8;
  margin-bottom: 15px;
}
.para-poster-detail a {
  color: #fff;
  font-size: 15.5px;
  font-family: Overpass;
  font-weight: 600;
  background-color: #0000ff;
  padding: 17px 35px 13px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.para-poster-detail a:hover {
  background-color: #ffa143;
}

.para-poster-video {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 42%;
  right: 116px;
  animation: play1 1s linear infinite;
  opacity: 0.2;
}
@keyframes play1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
    opacity: 0.9;
  }
}

.para-poster-video2 {
  height: 80px;
  width: 80px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 43.5%;
  right: 126px;
  animation: play2 1s linear 1s infinite;
  opacity: 0.5;
}
@keyframes play2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
    opacity: 0.9;
  }
}

.video i {
  color: #fff;
  font-size: 80px;
  position: absolute;
  top: 43.5%;
  right: 126px;
  cursor: pointer;
  transition: all 0.5s;
}

.video:hover i {
  color: #0000ff;
}

.feedback-section {
  max-width: 1250px;
  background-color: #0000ff;
  margin: -6% 50px;
  padding: 25px 0 120px 0;
}
.feedback-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.feedback-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.feedback-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}
.feedback-section .section-title .sub-title {
  color: #fff;
}
.feedback-section h2 {
  padding: 0 25%;
  color: #fff;
}

.client-info img {
  max-width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}
.client-info .client-name h3 {
  color: #000;
  font-size: 20px;
  font-family: Overpass;
  font-weight: 700;
  margin-top: 10px;
}
.client-info .client-name span {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  display: block;
  margin-top: 5px;
}

.carousel-inner1 {
  overflow: inherit;
  background-color: #fff;
  padding: 50px 5%;
}

.carousel-item1 {
  transition: transform 0.6s;
}

.carousel-caption2 {
  position: absolute;
  right: 15%;
  top: 100%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
.carousel-caption2 p {
  color: #565968;
  font-size: 18px;
  font-family: Overpass;
  font-weight: 400;
  font-style: italic;
  line-height: 1.8;
}

.carousel-indicators1 {
  bottom: -230%;
}

.carousel-indicators1 [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #0000ff;
}

.plan-section {
  background-color: #f4f7fc;
}
.plan-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.plan-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.plan-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}
.plan-section .section-title .sub-title {
  margin-top: 300px;
}
.plan-section h2 {
  padding: 0 25%;
}
.plan-section p {
  color: #737b9a;
  font-size: 16px;
  font-family: Overpass;
  margin-top: 12px;
  padding: 0 20%;
}

.pricing-box {
  transition: all 0.5s;
}
.pricing-box .pricing-header {
  color: #fff;
  font-family: Overpass;
  background-color: #0000ff;
  text-align: center;
  padding: 30px 30px 25px;
}
.pricing-box .pricing-plan {
  color: #212529;
  font-family: Overpass;
  font-size: 50px;
  font-weight: 700;
  padding: 15px 30px 0;
  text-align: center;
}
.pricing-box .pricing-plan sub {
  color: #737b9a;
  font-size: 16px;
  font-family: Overpass;
  font-weight: 600;
}
.pricing-box .features-list li {
  color: #737b9a;
  font-family: Overpass;
  font-size: 17px;
  font-weight: 500;
  position: relative;
}
.pricing-box .features-list li i {
  color: #6ac04f;
  position: absolute;
  right: 15px;
  top: 10px;
}
.pricing-box .features-list li .c-times {
  color: #dd5252;
  position: absolute;
  right: 15px;
  top: 10px;
}
.pricing-box .get-btn {
  text-align: center;
  padding: 30px 30px 25px;
  background-color: #fff;
}
.pricing-box .get-btn a {
  color: #0000ff;
  font-size: 18px;
  font-family: Overpass;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}

.get-btn a::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #0000ff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.get-btn a:hover::after {
  width: 100%;
}

.pricing-box:hover {
  transform: translateY(-10px);
}

.pricing-box .red {
  background-color: #fc6765;
}

.pricing-box .red-btn a {
  color: #fc6765;
}

.pricing-box .red-btn a::after {
  background-color: #fc6765;
}

.pricing-box .yellow {
  background-color: #ffa143;
}

.pricing-box .yellow-btn a {
  color: #ffa143;
}

.pricing-box .yellow-btn a::after {
  background-color: #ffa143;
}

.partner-section {
  margin-bottom: 70px;
}
.partner-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.partner-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.partner-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}
.partner-section h2 {
  padding: 0 25%;
}

.partner-item {
  margin-bottom: 10px;
  max-width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}
.partner-item a {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.partner-item .partner-logo1 {
  background-color: #f4f7fc;
  transition: all 0.4s;
  padding: 20px;
}
.partner-item .partner-logo2 {
  background-color: #f4f7fc;
  transition: all 0.4s;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 20px;
}

.partner-item a:hover .partner-logo1 {
  transform: translateY(-100px);
}

.partner-item a:hover .partner-logo2 {
  transform: translateY(-80px);
}

.news-section {
  background-color: #f4f7fc;
  padding-top: 10px;
}
.news-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.news-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.news-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}
.news-section h2 {
  padding: 0 25%;
}

.news-box {
  margin-bottom: 70px;
}

.news {
  overflow: hidden;
  transition: all 0.5s;
}
.news .news-img {
  transition: all 0.5s;
  overflow: hidden;
}

.news-body {
  background-color: #fff;
  position: relative;
}
.news-body .news-date {
  transition: all 0.5s;
}
.news-body .news-date p {
  font-size: 16px;
  font-family: Overpass;
  color: #737b9a;
}
.news-body .news-date p span {
  color: #fa7070;
  margin-right: 10px;
}
.news-body .news-title {
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.5;
  transition: all 0.5s;
  cursor: pointer;
}
.news-body .news-text {
  color: #737b9a;
  font-size: 16px;
  font-family: Overpass;
  line-height: 1.8;
  transition: all 0.5s;
}
.news-body .news-read-btn {
  text-decoration: none;
  color: #0000ff;
  font-size: 16px;
  font-family: Overpass;
  font-weight: 400;
  position: relative;
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
}

.news-box:hover .news-img {
  transform: scale(1.2) rotate(2deg);
}

.news-box:hover .news-date {
  transform: translateY(-30px);
  opacity: 0;
}

.news-box:hover .news-title {
  transform: translateY(-30px);
}

.news-box:hover .news-text {
  transform: translateY(-30px);
}

.news-box:hover .news-read-btn {
  transform: translateY(-30px);
  opacity: 1;
}

.news-title:hover {
  color: #0000ff;
}

.news-read-btn::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #0000ff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.news-read-btn:hover::after {
  width: 100%;
}

.subscribe-parallax {
  background-image: url("../image/asset63.jpeg");
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  padding: 230px 0;
  margin-bottom: 70px;
}
.subscribe-parallax .subscribe-para-poster {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 0, 255, 0.7);
  position: absolute;
  top: 0;
}

.subscribe-section .section-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.subscribe-section .section-title .sub-title {
  color: #0000ff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.subscribe-section .section-title h2 {
  font-size: 40px;
  font-family: Overpass;
  font-weight: 700;
}
.subscribe-section .section-title .sub-title {
  color: #fff;
}
.subscribe-section h2 {
  padding: 0 20%;
  color: #fff;
}

.subscribe-form {
  max-width: 550px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
.subscribe-form .input-subscribe {
  display: block;
  width: 100%;
  background-color: #fff;
  border: none;
  height: 65px;
  padding-left: 25px;
  border-radius: 70px;
  outline: 0;
}
.subscribe-form button {
  background-color: #0000ff;
  color: #fff;
  font-size: 15px;
  font-family: Overpass;
  font-weight: 700;
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  height: 55px;
  padding: 0 30px;
  border-radius: 70px;
  line-height: 60px;
  transition: all 0.5s;
}

.subscribe-form button:hover {
  background-color: #ffa143;
}

.footer-area {
  background-color: #212529;
  padding-top: 80px;
}

.single-footer-widget h3 {
  color: #fff;
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  margin-bottom: 35px;
  position: relative;
  padding-bottom: 8px;
  border-bottom: 1px solid #4e5e6a;
}

.single-footer-widget h3::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.footer-contact-info i {
  font-size: 35px;
  color: #fa7070;
  margin-right: 20px;
}
.footer-contact-info span {
  color: #fff;
  font-size: 15px;
  font-family: Overpass;
  margin-bottom: 5px;
}
.footer-contact-info a {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: Overpass;
  text-decoration: none;
  transition: all 0.5s;
}
.footer-contact-info a .social {
  color: #fff;
  font-size: 17px;
  transition: all 0.5s;
}

.footer-contact-info a:hover {
  color: #fa7070;
}

.footer-contact-info a .social:hover {
  transform: translateY(-2px);
  color: #fa7070;
}

.footer-quick-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-quick-links li {
  max-width: 45%;
  padding: 15px 120px 0 0;
}
.footer-quick-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: Overpass;
  font-weight: 400;
  transition: all 0.5s;
}

.footer-quick-links li a:hover {
  color: #fa7070;
}

.single-footer-widget img {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 5px;
}

.copyright-area {
  border-top: 1px solid #4e5e6a;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.copyright-area p {
  color: #fff;
  font-size: 16px;
  font-family: Overpass;
}
.copyright-area p a {
  color: #fff;
  text-decoration: none;
}
.copyright-area ul {
  padding-left: 50%;
}
.copyright-area ul li {
  display: inline-block;
}
.copyright-area ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: Overpass;
}

.copyright-area .con::after {
  content: "|";
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
